.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00d7e1;
    color: white;
    font-weight: 600;
    font-size: 20px;
  }

  .toolbar img {
    margin: 0 50px;
   
  }
  .logo_car{
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  .logo_car:hover{
    transform: scale(1.3);
  }
  .spacer {
    padding-left: 3%;
    padding-right: 3%;
    flex: 1;
  }



  .toolbar #signin-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #login-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #signin-logo:hover,
  .toolbar #login-logo:hover {
    opacity: 0.8;
  }