 /* Google Fonts - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }
 body {
   max-height: 50vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #4070f4;
 }
 .input-box {
   position: relative;
   height: 40px;
   max-width: 900px;
   width: 100%;
   background: #fff;
   margin: 0 20px;
   border-radius: 8px;
   
 }
 .input-box img,
 .input-box .button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }
 .input-box img {
   left: 20px;
   font-size: 30px;
   color: #707070;
 }
 .input-box input {
   height: 100%;
   width: 100%;
   outline: none;
   font-size: 18px;
   font-weight: 400;
   border: none;
   padding: 0 155px 0 65px;
   background-color: transparent;
 }
 .input-box .button {
    
   right: 20px;
   font-size: 16px;
   font-weight: 400;
   color: #fff;
   border: none;
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 6px;
   background-color: #00d7e1;
   cursor: pointer;
 }
 .input-box .button:active {
   transform: translateY(-50%) scale(0.98);
 }
 .button{
    height: 30px;
 }
 /* Responsive */
 @media screen and (max-width: 500px) {
   .input-box {
     height: 66px;
     margin: 0 8px;
   }
   .input-box img {
     left: 12px;
     font-size: 25px;
   }
   .input-box input {
     padding: 0 112px 0 50px;
   }
   .input-box .button {
     right: 12px;
     font-size: 14px;
     padding: 8px 18px;
   }
 }